body{
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;

}
.btn{
    height: 200px;
    width: 200px;
    margin: 2.5rem;
    border-radius: 20%;
    border: 8px solid black;
}
.b1{
    background-color: rgb( 241,196,0);
}
.b2{
    background-color:rgb( 134,65,186);
}
.b3{
    background-color:rgb( 173,233,17);
}
.b4{
    background-color: rgb(248, 49, 118);
}

.gameflash{
    background-color: white;
}
.userflash{
    background-color: green;
}